/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #87AFE8;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body {
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection {
    background-color: var(--primary-color);
    color: var(--sidebar-color);
}

body.dark {
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

/* ===== Sidebar ===== */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}

.sidebar.close {
    width: 88px;
}

.sidebar.close .text {
    opacity: 0;
}

.sidebar .text {
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;

    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar section .menu ul .link,
.bottom-content .logout-icon-text {
    display: flex;
    align-items: center;
    gap: 16px;

    margin-top: 10px;
    width: 230px;
    height: 50px;

    border-radius: 6px;
    background-color: transparent;
}

.sidebar.close section .menu ul .link,
.bottom-content .logout-icon-text {
    background-color: transparent;
}

.sidebar.close section .menu ul .link a span {
    display: none;
}

.sidebar section .menu ul .link .link-icon,
.bottom-content .logout-icon-text .logout-icon {
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    height: 100%;

    fill: var(--text-color);
    transition: var(--tran-03);

    background-color: transparent;
}

.sidebar section .menu ul .link .link-icon a svg,
.bottom-content .logout-icon-text .logout-icon a svg {
    fill: red;
}

.sidebar section .menu ul .link a,
.bottom-content .logout-icon-text a {
    text-decoration: none;
    
}

/* aplicando hover */
.sidebar section .menu ul .link .link-icon:hover,
.bottom-content .logout-icon-text .logout-icon:hover {
    background-color: var( --primary-color);
    
}

/* =========================== */

.sidebar header {
    position: relative;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
    margin-left: 5%;
}

header .image-text .name-logo {
    margin-top: 2px;
    margin-left: 10px;
    font-size: 18px;
    font-weight: 600;
}

.sidebar header .image-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar .image-text .image-logo img {
    width: 45px;
}

/* chevron TOGGLE */

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;

    width: 25px;
    height: 25px;
    fill: var(--primary-color);
    background-color: #FFF;
    border-radius: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    transform: translateY(-50%) rotate(180deg);
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle {
    color: var(--text-color);
}

.sidebar.close .toggle {
    transform: translateY(-50%) rotate(0deg);
}

.sidebar li a {
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    transition: var(--tran-03);
}

/* Mode */

.sidebar .menu-bar {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
    display: none;
}

.sidebar .menu-bar .bottom-content .mode {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}



