@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

/* Header */

#navHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background: #87AFE8;
    height: 5.5rem;
    min-width: 40rem;
    padding: 0 3rem;
}

#menu {
    display: flex;
    align-items: center;
    gap: 4rem;
}

#navHeader img, #rodape img {
    width: 4.5rem;
}

.buttonMenu {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    background-color: #004AAD;
    font-weight: bold;
    padding: 0.7rem 1.6rem;
    border-radius: 0.8rem;
}

/* Footer */

footer {
    background: #145DA0;
    height: 17.5rem;
    padding: 3rem 10rem;
    color: white;
}

footer #rodape {
    display: flex;
    justify-content: space-between;
    
    margin-bottom: 4rem;
}

#linksFooter {
    display: flex;
    gap: 9rem;
}

#linksFooter ul li {
    margin-bottom: 0.5rem;
}

.titleFooter {
    font-weight: bold;
    font-size: 1.1rem;
}

#redeSocialFooter {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-top: 1rem;
}

#redeSocialFooter a img {
    width: 2.2rem;
}

#pFooter {
    text-align: center;   
}

hr {
    opacity: 0.5;
}