@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* ===== Colors ===== */
    --header-color: #DBE1F4;
    --text-color: #0B1B3D;
    --button-color: #004AAD;
    --toggle-color: #;

    /* ====== shadow ====== */
    
}

::selection {
    background-color: var(--primary-color);
    color: var(--sidebar-color);
}

body.dark {
    --header-color: #DBE1F4;
    --text-color: #0B1B3D;
    --button-color: #004AAD;
    --toggle-color: #;
}

html {
    /* a cada 1rem será considerado 10px */
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Inter', sans-serif;
    /* font-family: Inter,Helvetica Neue,Arial,sans-serif; */

    height: 100vh;
}

/* ===== HEADER ===== */

header {
    background: var( --header-color);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#navHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 80%;
    max-width: 980px;
    margin: auto;
}

#menu {
    display: flex;
    align-items: center;
    gap: 5rem;
}

#navHeader img,
#footerSection img {
    width: 70px;
    padding: 5px 0;
}

/* ====== BUTTON ====== */

.buttonMenu {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    padding: 1.2rem 2.5rem;
    border-radius: 5px;

    background-color: var(--button-color);
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    touch-action: manipulation;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

#navHeader #menu li a.buttonMenu {
    color: #fff;
}

.buttonMenu:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 6px 13px;
    transform: translateY(-2px);
}

.buttonMenu:active {
    box-shadow: none;
    transform: translateY(0);
}

.buttonMenu:disabled {
    pointer-events: none;
}

/* ==================== */

header nav .menuSection ul,
footer #footerSection div ul {
    list-style: none;
}

header nav .menuSection ul li a {
    text-decoration: none;
    color: var(--text-color);
}

header nav .menuSection ul li:hover {
    transform: translateY(-2px);
}

/* Footer */

footer #footerSection div ul li a {
    text-decoration: none;
    color: #fff;
}

footer {
    background: #145DA0;
    height: auto;
    /* padding: 3rem 10rem 2rem; */
    color: white;
}

footer #footerContainer {
    width: 75%;
    max-width: 980px;
    margin: auto;
    padding: 3rem 0 2rem;
}

footer #footerSection {
    display: flex;
    justify-content: space-between;

    margin-bottom: 3.5rem;
}

footer #linksContainer {
    display: flex;
    gap: 13rem;
}

footer #linksContainer ul li {
    margin-bottom: 1rem;
}

footer #footerSection #linksContainer ul .titleContainer {
    font-weight: bold;
    font-size: 1.6rem;
}

footer #footerSection #linksContainer ul #midiasSection {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-top: 1rem;
}

#midiasSection a img {
    width: 3rem;
}

#infoFooter {
    font-size: 1.5rem;
    text-align: center;
}

hr {
    opacity: 0.5;
    margin-bottom: 2rem;
}

/* MEDIA QUERIES */

@media (max-width: 1440px) {
    footer #linksContainer {
        gap: 8rem;
    }
}

@media (max-width: 1024px) {
    html {
        font-size: 62%;
    }

    #menu {
        gap: 4rem;
    }
}

@media (max-width: 894px) {
    #midiasSection a img {
        width: 27px;
    }

    footer #footerContainer {
        width: 80%;
    }

    footer #linksContainer {
        gap: 5.5rem;
    }
}

@media (max-width: 880px) {
    html {
        font-size: 61.5%;
    }

    #menu {
        gap: 3.5rem;
    }

    #navHeader img,
    #footerSection img {
        width: 65px;
        padding: 4px 0;
    }

    .buttonMenu {
        padding: 1.1rem 2.4rem;
    }

    #midiasSection a img {
        width: 27px;
    }

    footer #linksContainer {
        gap: 6rem;
    }
}

@media (max-width: 820px) {
    footer #footerContainer {
        width: 85%;
        padding: 2rem 0;
    }

    footer #linksContainer {
        gap: 5rem;
    }
}

@media (max-width: 800px) {
    html {
        font-size: 60%;
    }

    #menu {
        gap: 3.5rem;
    }

    #navHeader img,
    #footerSection img {
        width: 60px;
        padding: 4px 0;
    }

    .buttonMenu {
        padding: 1rem 2.3rem;
    }
}

@media (max-width: 760px) {
    #menu {
        gap: 3rem;
    }

    footer #linksContainer {
        gap: 3.7rem;
    }
}

@media (max-width: 724px) {
    #menu {
        gap: 2.8rem;
    }

    footer #linksContainer {
        gap: 3.7rem;
    }
}

@media (max-width: 706px) {
    #navHeader {
        width: 83%;
    }

    #midiasSection a img {
        width: 27px;
    }

    footer #footerContainer {
        width: 80%;
        padding: 2rem 0;
    }

    footer #footerSection {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin-bottom: 2rem;
    }

    footer #linksContainer {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    footer #linksContainer .divContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 700px) {
    #navHeader {
        width: 85%;
    }

    #menu {
        display: none;
    }

    .one,
    .two,
    .three {
        background-color: rgb(244, 246, 248);
        width: 100%;
        height: 4px;
        margin: 6px auto;
        border-radius: 1rem;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        transition-duration: 0.3s;
    }

    .menuToggle {
        width: 35px;
        height: 30px;

        cursor: pointer;
    }

    /* NAVBAR ON */
    .menuSection.on .menuToggle .one {
        transform: translate(5px, 11px) rotate(45deg);
    }
      
    .menuSection.on .menuToggle .two {
        opacity: 0;
    }
      
    .menuSection.on .menuToggle .three {
        transform: translate(5px, -9px) rotate(-45deg);
    }

    .menuSection.on {
        position: absolute;
        top: 0;
        right: 0;

        width: 100vw;
        height: 29.2rem;

        background: transparent;

        z-index: 10;
    }

    .menuSection.on nav {
        display: block;
    }

    .menuSection.on .menuToggle {
        position: absolute;
        right: 8%;
        top: 20px;
    }
    
    header nav .menuSection.on #menu {
        text-align: center;
        display: block;
        
        position: absolute;
        top: 7.5rem;
        left: 1.5%;
        right: 1.5%;
        width: 97%;
        background-color: rgb(255, 255, 255);

        z-index: 2;
    }    
    
    header nav .menuSection.on ul li a {
        transition-duration: 0.5s;
        line-height: 4.5rem;
        display: inline-block;

    }

    header nav .menuSection.on ul li:hover {
        transform: translateY(0px);
        background: #f3f3f3;
        opacity: 0.9;
    }

    header nav .menuSection.on ul li .buttonMenu:hover {
        transform: translateY(0px);
        box-shadow: none;
        opacity: 0.9;
    }


    header nav .menuSection.on #overlay {
        background-color: rgba(0,0,0,0.5);

        width: 100vw;
        height: 100vh;
        
        position: relative;
        top: 7.5rem;
        z-index: -1;
    }

    .line {
        background-color: #e4e4e4;
        height: 1px;
        width: 100%;
        margin: 0;
        border-radius: 1rem;

        transition-duration: 0.3s;
    }

    .buttonMenu {
        padding: 0;
        margin: 0;
        
        border-radius: 0;
        font-size: 1.8rem;

        width: 100%;
        height: 100%;
    }
}

@media (max-width: 440px) {
    html {
        font-size: 58%;
    }

    #navHeader img,
    #footerSection img {
        width: 58px;
        padding: 5px 0;
    }
}

@media (max-width: 320px) {
    #navHeader img,
    #footerSection img {
        width: 55px;
        padding: 4px 0;
    }

    header nav .menuSection.on #overlay {
        top: 7.2rem;
    }

    header nav .menuSection.on #menu {
        top: 7.2rem;
        left: 2%;
        right: 2%;
        width: 96%;
    }
}

/* 

*/