@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap'); /* Fonte Arimo */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); /* Fonte Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk&display=swap'); /* Fonte Hank Grotesk */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    /* a cada 1rem será considerado 10px */
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Inter', sans-serif;

    height: 100vh;
}

#content {
    background: #F5F5F5;
    border: 1px solid black;
    float: right;
    width: 90%;
    height: 100vh;
}

#titleContent {
    font-size: 2.5rem;
    font-family: 'Hanken Grotesk', sans-serif;
}

.saldos {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: space-evenly;
}

#content .saldos .saldosBox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;

    width: 15%;
    height: auto;

    background: #FFFFFF;
    border: 0.1rem solid #D6DFE1;
    border-radius: 0.4rem;
}

#content .saldos .saldosBox img {
    width: 5rem;
}

#content .saldos .saldosBox .subTitleSaldos {
    font-family: 'Arimo', sans-serif;
    color: #545454;
}

#content .saldos .saldosBox .cifraoSaldos {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}