@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* Fonte Poppins */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/* Fonte Inter */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* Fonte Open Sans */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    /* ===== Colors ===== */
    --text-color: #707070;
    --box-color: #FFF;
    --subtitle-black-color: #18191a;

    --title: #707070;
    --sidebar-color: #FFF;
    --primary-color: #87AFE8;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --icon-color: #FFF;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

body.dark {
    --text-color: #ccc;
    --box-color: #242526;
    --subtitle-black-color: #ccc;

    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --icon-color: #FFF;
}

html {
    /* a cada 1rem será considerado 10px */
    font-size: 62.5%;
}

#container {
    position: absolute;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.sidebar.close~#container {
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}

#FirstTitle {
    font-size: 3rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);

    padding: 4rem 60px;
}

.balance {
    width: 100%;
    height: auto;
    float: right;

    display: flex;
    justify-content: space-evenly;
}

.balance .balanceBox {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 23rem;
    height: auto;
    padding: 1.4rem 0rem;

    background: var(--box-color);
    border: 0.1rem solid #D6DFE1;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.balance .balanceBox img {
    width: 5.5rem;
}

.balance .balanceBox .subTitleBalance {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-bottom: 0;
}

.balance .balanceBox .moneyBalance {
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--subtitle-black-color);
    margin-bottom: 0;
}

main {
    width: 100%;
    height: 52%;
    margin-top: 5%;
    margin-bottom: 5%;
    float: right;

    display: flex;
    justify-content: space-evenly;
}

.mainTitles {
    font-weight: 500;
    color: var(--text-color);

    margin: 3rem 4rem 0;
}

.mainBox {
    width: 30%;
    height: 400px;

    background: var(--box-color);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 1rem;
}

/* TABLE */

main .mainBox div .table-sm {
    color: var(--subtitle-black-color);
    font-size: 1.6rem;
    line-height: 3.5rem;

    margin: 0.5rem auto 2.4rem;
    width: 80%;
    height: 49.5%;
}

main .mainBox div .table-sm .subTitleTable {
    color: var(--subtitle-black-color);
}

/* GRAFIC */

.mainCategory {
    width: 60%;
}

main .mainBox .mainGrafic {
    display: flex;
    justify-content: space-evenly;
    align-items: center;


    background-color: transparent;
    margin: 2.5rem auto;
    width: 90%;
    height: 55.5%;
}

@property --p {
    syntax: '<number>';
    inherits: true;
    initial-value: 1;
}

.pie {
    --p: 20;
    --b: 22px;
    --c: darkred;
    --w: 150px;

    width: var(--w);
    aspect-ratio: 1;
    position: relative;
    display: inline-grid;
    margin: 5px;
    place-content: center;
    color: var(--subtitle-black-color);
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
}

.pie:before,
.pie:after {
    content: "";
    position: absolute;
    border-radius: 50%;
}

.pie:before {
    inset: 0;
    background:
        radial-gradient(farthest-side, var(--c) 98%, #0000) top/var(--b) var(--b) no-repeat,
        conic-gradient(var(--c) calc(var(--p)*1%), #0000 0);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
    mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
}

.pie:after {
    inset: calc(50% - var(--b)/2);
    background: var(--c);
    transform: rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
}

.animate {
    animation: p 1s .5s both;
}

.no-round:before {
    background-size: 0 0, auto;
}

.no-round:after {
    content: none;
}

@keyframes p {
    from {
        --p: 0
    }
}

.graficDatas {
    font-size: 1.7rem;
}

.graficDatas h3 {
    color: var(--subtitle-black-color);
    margin-bottom: 1rem;
}

.graficDatas p {
    font-size: 1.5rem;
    color: var(--text-color);
}

/* BUTTON */

main .mainBox button {
    width: 90%;
    margin: 0 5%;
    padding: 1rem 2rem;

    font-family: 'Open Sans', sans-serif;
    font-size: 1.7rem;
    font-weight: 700;
    color: #fff;
    cursor: pointer;

    white-space: nowrap;

    appearance: none;
    background-color: #87afe8;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
}

main .mainBox button:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

main .mainBox button:hover {
    background-color: #6ca3ef;
}

main .mainBox button:active {
    background-color: #518bdd;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}


/* MEDIA QUERY */

@media (max-width: 1440px) {
    .mainBox {
        width: 28%;
    }

    .mainCategory {
        width: 50%;
    }

    .mainTitles {
        font-size: 2.0rem;
    }

    .pie {
        --w: 125px;
    }
}

@media (max-width: 1380px) {
    .pie {
        --w: 108px;
    }

    main {
        margin-top: 2.5%;
    }

    main .mainBox div .table-sm {
        font-size: 1.4rem;
    }

    #FirstTitle {
        padding: 4rem 60px 2rem;
    }
}

@media (max-width: 1311px) {
    .mainBox {
        width: 30%;
    }

    .mainCategory {
        width: 50%;
    }

    .pie {
        --w: 100px;
    }
}

@media (max-width: 1240px) {
    .mainBox {
        width: 32%;
    }

    .mainCategory {
        width: 55%;
    }

    .pie {
        --w: 110px;
    }
}

@media (max-width: 1206px) {
    .pie {
        --w: 105px;
    }

    .graficDatas h3 {
        font-size: 1.7rem;
    }
}

@media (max-width: 1173px) {
    #container {
        position: absolute;
        top: 0;
        left: 250px;
        height: auto;
    }

    .sidebar.close~#container {
        left: 78px;
        height: auto;
        width: calc(100% - 78px);
    }

    #FirstTitle {
        padding: 4rem 60px;
        margin: 0;
    }

    main {
        width: 100%;
        height: 100%;
        margin-top: 4rem;

        float: right;

        display: flex;
        flex-direction: column-reverse;
    }

    .mainBox {
        width: 45%;
        height: 400px;
        margin: 0 10%;
    }

    .mainCategory {
        width: 80%;
        margin: 0 10% 5rem;
    }

    .pie {
        --w: 123px;
    }
}

@media (max-width: 1031px) {
    .mainBox {
        width: 50%;
    }

    .mainCategory {
        width: 80%;
    }

    .pie {
        --w: 113px;
        font-size: 23px;
    }

    .balance {
        width: 85%;
        margin: 0 7.3%;

        display: flex;
        align-items: center;
        gap: 2rem;
    }

    .balance .balanceBox {
        width: 20rem;
        padding: 1.3rem 0rem;
    }
}

@media (max-width: 1000px) {
    html {
        font-size: 59%;
    }

    .mainBox {
        height: 390px;
    }

    main .mainBox div .table-sm {
        font-size: 1.5rem;
        line-height: 3.5rem;

        margin: 2rem auto;
        width: 80%;
        height: 49.5%;
    }

}

@media (max-width: 925px) {
    .pie {
        --w: 96px;
        font-size: 21px;
    }

    .balance {
        width: 100%;
        height: auto;
        margin: 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }

    .balance .balanceBox {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-around;

        width: 30rem;
        padding: 1.4rem 0rem;
    }
}

@media (max-width: 850px) {
    .mainBox {
        width: 55%;
        margin: 0 12.5%;
    }

    .mainCategory {
        width: 75%;
        margin: 0 12.5% 5rem;
    }

    main .mainBox .mainGrafic {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;


        background-color: transparent;
        margin: 2.5rem auto;
        width: 90%;
        height: 55.5%;
    }

    .pie {
        --w: 90px;
        font-size: 19px;
    }
}

@media (max-width: 790px) {
    html {
        font-size: 58%;
    }

    main {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .mainBox {
        width: 75%;
        height: 370px;
    }

    main .mainBox div .table-sm {
        line-height: 3.4rem;

        margin: 1.7rem auto;
    }

    .pie {
        --w: 80px;
        font-size: 18px;
    }
}

@media (max-width: 700px) {
    .pie {
        --w: 70px;
        font-size: 17px;
    }

    .balance .balanceBox {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-around;

        width: 34rem;
        padding: 1.4rem 0rem;
    }
}

@media (max-width: 665px) {
    .mainBox {
        width: 80%;
        height: 365px;
    }

    .mainTitles {
        font-size: 1.8rem;
    }
}

@media (max-width: 615px) {
    .pie {
        --w: 67px;
        font-size: 16px;
    }

    .mainTitles {
        font-size: 1.7rem;
    }
}

@media (max-width: 610px) {
    html {
        font-size: 56%;
    }

    .mainBox {
        height: 355px;
    }

    main .mainBox div .table-sm {
        font-size: 1.5rem;
        line-height: 3.5rem;

        margin: 1.7rem auto;
    }
}

@media (max-width: 600px) {
    #container {
        position: absolute;
        top: 75px;
        left: 0;
        width: 100vw;
    }

    .sidebar.close~#container {
        top: 75px;
        left: 0;
        width: 100vw;
    }

    #FirstTitle {
        font-size: 3rem;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        color: var(--text-color);

        padding: 4rem 60px 2rem;
    }

    .pie {
        --w: 75px;
        font-size: 18px;
    }
}

@media (max-width: 500px) {
    .balance .balanceBox {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-between;

        width: 80%;
        padding: 1.4rem 5rem;
    }
}

@media (max-width: 450px) {
    .pie {
        --w: 70px;
        font-size: 17px;
    }
}

@media (max-width: 450px) {
    .balance .balanceBox img {
        width: 5rem;
    }
}

@media (max-width: 340px) {
    html {
        font-size: 55%;
    }

    main .mainBox .mainGrafic {
        height: 57%;
    }

    .pie {
        --w: 64px;
        font-size: 15px;
    }

    .balance .balanceBox {
        padding: 1.4rem 4rem;
    }
}

@media (max-width: 325px) {
    main .mainBox div .table-sm {
        font-size: 1.4rem;
        line-height: 3.5rem;

        margin: 1.7rem auto;
    }
}