* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  .formulario{
    margin: 80px;
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
  }
  .nova-receita{
    margin-bottom: 25px
  }
  .row{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
  }
  input:not([type="checkbox"]) {
    width: 100%;
    margin-top: 4px;
    margin-left: 4px;
    padding: 10px;
    border: 1px solid #b2b2b2;

    -webkit-border-radius: 3px;
    border-radius: 3px;

    -webkit-box-shadow: 0px 1px 4px 0px rgba(97, 207, 235, 0.8) inset;
    box-shadow: 0px 1px 4px 0px rgba(97, 207, 235, 0.8) inset;

    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.row-checkbox{
  margin-left: 5px; margin-top: 20px;
  display: flex; flex-direction: row;
}
.label-checkbox{
  margin-right: 10px;
}
.switch {
  visibility: hidden;
  position: absolute;
  margin-left: -9999px;
}
.switch + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}
.switch--shadow + label {
  padding: 2px;
  width: 40px;
  height: 20px;
  background-color: #dddddd;
  border-radius: 50px;
}
.switch--shadow + label:before,
.switch--shadow + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
.switch--shadow + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 50px;
  transition: background 0.4s;
}
.switch--shadow + label:after {
  width: 20px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.4s;
}
.switch--shadow:checked + label:before {
  background-color: #8cd0e1;
}
.switch--shadow:checked + label:after {
  transform: translateX(20px);
}
.cancelar, .salvar{
  width: 100% !important;
  cursor: pointer;
  background: #8cd0e1;
  padding: 8px 5px;
  color: #fff;
  font-size: 15px;
  border: 1px solid #fff;
  transition: all 0.2s linear;
}
.row-input{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}
.cancelar{
  background-color: rgb(190, 24, 24);
}