@property --p{
    syntax: '<number>';
    inherits: true;
    initial-value: 1;
  }
  
  .pie {
    --p:20;
    --b:22px;
    --c:darkred;
    --w:150px;
  
    width: var(--w);
    aspect-ratio: 1;
    position: relative;
    display: inline-grid;
    margin: 5px;
    place-content: center;
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
  }
  .pie:before,
  .pie:after {
    content: "";
    position: absolute;
    border-radius: 50%;
  }
  .pie:before {
    inset: 0;
    background:
      radial-gradient(farthest-side,var(--c) 98%,#0000) top/var(--b) var(--b) no-repeat,
      conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
            mask: radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
  }
  .pie:after {
    inset: calc(50% - var(--b)/2);
    background: var(--c);
    transform: rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
  }
  .animate {
    animation: p 1s .5s both;
  }
  .no-round:before {
    background-size: 0 0, auto;
  }
  .no-round:after {
    content: none;
  }
  @keyframes p{
    from{--p:0}
  }

  p{
  
    padding-left: 15px;
    padding-top: 5px;
  }

  /*css do botão*/

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{

    background-color: #F5F5F5;

}

#titulo{

    margin: 23px;

}

button{
    font-weight: bold;
    border: 0px;
    width: 100px;
    color: white;
    background-color: #81C3E2;
    border-radius: 20px;
    padding: 5.5px;
}

#botao {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}

#mainBox{
    padding: 100px;
    margin: 300px;
    /* colocar uma borda preta bem fina para ver a mudança do cinza para o branco 
    border: 10px black;
    border-radius: 20px;
     */
    background-color: white;
   

}

#grafico{

    width: 250px;

}
