/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

/* dark/light mode config */

body {
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

:root {
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #87AFE8;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    --icon-color: #FFF;

    /* ====== Transition ====== */
    --tran-03: all 0.1s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

::selection {
    background-color: var(--primary-color);
    color: var(--sidebar-color);
}

body.dark {
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
    --icon-color: #FFF;
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

span.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark span.switch::before {
    left: 20px;
}

/* mode */
.sidebar .bottom-content .mode {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);

    display: flex;
    align-items: center;
}

.sidebar .bottom-content .mode .sun-moon {
    height: 50px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar .bottom-content .mode .sun-moon svg {
    position: relative;
}

.mode .sun-moon svg.sun {
    display: none;
}

.mode .sun-moon svg.moon {
    fill: var(--text-color);
}

.sidebar.close .mode .sun-moon svg.moon {
    display: none;
}


body.dark .mode .sun-moon svg.sun {
    display: block;
    fill: var(--text-color);
}

body.dark .sidebar.close .mode .sun-moon svg.sun {
    display: none;
}

body.dark .mode .sun-moon svg.moon {
    display: none;
}

.sidebar .bottom-content .toggle-switch {
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

/* ===== Sidebar ===== */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}

.sidebar.close {
    width: 88px;
}

.sidebar.close .text {
    opacity: 0;
}

.sidebar .text {
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;

    color: var(--text-color);
    transition: var(--tran-03);
}

.menu-links {
    padding-left: 0;
}

.sidebar section .menu ul .link,
.sidebar .bottom-content .logout-icon-text {
    display: flex;
    align-items: center;

    margin-top: 20px;

    height: 50px;

    border-radius: 6px;
    background-color: transparent;
    transition: var(--tran-03);
}

.sidebar.close section .menu ul .link,
.sidebar.close .bottom-content .logout-icon-text {
    background-color: transparent;
}

.sidebar.close section .menu ul .link a span {
    display: none;
}

.sidebar section .menu ul .link .link-icon,
.sidebar .bottom-content .logout-icon-text .logout-icon {
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    height: 100%;

    fill: var(--text-color);
    transition: var(--tran-04);

    background-color: transparent;
}

.sidebar section .menu ul .link .link-icon a svg,
.sidebar .bottom-content .logout-icon-text .logout-icon a svg {
    fill: var(--text-color);
}

.sidebar section .menu ul .link a,
.sidebar .bottom-content .logout-icon-text a {
    text-decoration: none;

}

/* aplicando hover */

.sidebar section .menu ul .link .link-icon:hover a svg,
.sidebar .bottom-content .logout-icon-text .logout-icon:hover a svg {
    fill: var(--icon-color);
}

.sidebar.close section .menu ul .link .link-icon:hover,
.sidebar.close .bottom-content .logout-icon-text .logout-icon:hover {
    background-color: var(--primary-color);
}

.sidebar section .menu ul .link:hover,
.sidebar .bottom-content .logout-icon-text:hover {
    background-color: var(--primary-color);
}

.sidebar section .menu ul .link:hover a span,
.sidebar .bottom-content .logout-icon-text:hover a span {
    color: var(--icon-color);
}

.sidebar section .menu ul .link:hover .link-icon a svg,
.sidebar .bottom-content .logout-icon-text:hover .logout-icon a svg {
    fill: var(--icon-color);
}

/* =========================== */

.sidebar header {
    position: relative;
    height:auto;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
    margin-left: 5%;
}

header .image-text .name-logo {
    margin-top: 2px;
    margin-left: 10px;
    font-size: 18px;
    font-weight: 600;
}

.sidebar header .image-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar .image-text .image-logo img {
    width: 45px;
}

/* chevron TOGGLE */

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;

    width: 25px;
    height: 25px;
    fill: var(--primary-color);
    background-color: #FFF;
    border-radius: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    transform: translateY(-50%) rotate(180deg);
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle {
    color: var(--text-color);
}

.sidebar.close .toggle {
    transform: translateY(-50%) rotate(0deg);
}


/* ========== */

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* MEDIA QUERY */

@media (max-width: 600px) {
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 80%;
        padding: 10px 14px;
        background: var(--sidebar-color);
        transition: var(--tran-05);
        z-index: 100;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .sidebar.close {
        width: 100%;
        height: 75px;
        
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    .sidebar.close .menu-bar,
    .sidebar.close .bottom-content {
        display: none;
    }

    .menu-links,
    .bottom-content {
        width: 210px;
        margin: 0 auto;
    }

    .sidebar .bottom-content .mode {
        width: 205px;
    }

    body.dark .sidebar.close {
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    }

    /* shevron */

    .sidebar header .toggle {
        position: absolute;
        top: 50%;
        right: 10px;

        width: 30px;
        height: 30px;
        fill: var(--primary-color);
        background-color: #FFF;
        border-radius: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        cursor: pointer;
        transform: translateY(-50%) rotate(270deg);
        transition: var(--tran-05);
    }

    .sidebar.close .toggle {
        transform: translateY(-50%) rotate(90deg);
    }

    /* header */

    header {
        height: 100%;
    }

    .sidebar header .image-text {
        display: flex;
        align-items: center;
        margin-left: 5%;

        height: 100%;
    }    

}