@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); /* Fonte Open Sans */

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    height: 100%;
}

main {
    padding: 7% 20%;
    text-align: justify;
}

main p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 30px;
}

h3 {
    text-align: center;
}

/* MEDIA QUERY */

@media (max-width: 1024px) {
    main {
        padding: 7% 15%;
    }
}

@media (max-width: 870px) {
    main p, h3 {
        font-size: 17px;
    }
}

@media (max-width: 690px) {
    main {
        padding: 7% 11%;
    }

    main p, h3 {
        font-size: 16px;
    }
}

@media (max-width: 370px) {
    main p, h3 {
        font-size: 14px;
    }
}