@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); /* Fonte Open Sans */

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    height: 100%;
}

main {
    padding: 100px 300px;
    text-align: justify;
}

main p {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.texto {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

h3 {
    text-align: center;
}

/* MEDIA QUERY */

